.time-hud {
    position: absolute;
    top: 1.5rem;
    left: 45.3rem;
}

.time-hud svg {
    width: 8.5rem;
}

.time-hud-border {
    clip-path: rect(0 0 0 0);
    animation: startUpRtoL 1s 2s forwards;
}

.time-hud-background {
    opacity: 0;
    clip-path: rect(0 0 0 0);
    animation: startUpLtoRBlinker 1s 3s forwards;
}

.time-hud-text {
    clip-path: rect(0 0 0 0);
    animation: icon 1s 3.5s forwards;
}