.background-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden; 
    opacity: 0.12;
}

.background-grid svg {
    animation: blinkerBits  1s linear forwards;
}