.pageContact-container {
    position: relative;
    top: -132rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pageContact-container-svg {
    width: 50rem;
    height: 40rem;
}

.contact-background-panel {
    clip-path: rect(0 0 0 0);
    animation: startUpBtoT 0.5s 1s ease-out forwards;
}

.contact-top-panels {
    animation: startUp 0.5s ease-out;
}

.contact-side-panels {
    clip-path: rect(0 0 0 0);
    animation: startUpTtoB 0.5s 0.5s ease-out forwards;
}

.contact-right-bottom {
    clip-path: rect(0 0 0 0);
    animation: startUpRtoL 0.5s 1s ease-out forwards;
}

.contact-left-bottom {
    clip-path: rect(0 0 0 0);
    animation: startUpLtoR 0.5s 1s ease-out forwards;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.contact-form-container h1 {
    margin-bottom: 4rem;

}

.contact-form-container-form {
    display: flex;
    grid-gap: 3rem
}

.contact-form-container-form-inputs {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;

}

.contact-form-container-submit {
    margin-top: 4rem;
}