/* Centralizing the animation keyframes */

/* 
Personal custom animations that are used on specific components:

    key: 
      § = global animation made
      ∂ = custom animation for a specific component

    • alister.css {
        alisterSpin
        alisterSpinOpposite
        centerOutScale
    }
    • bottomPanel {
        bottomPanelRightExpand
    }
    • button.css {
        § startUp // startUpCircleIntoOut
        ∂ buttonExpandLeft // startUpLtoR
        ∂ buttonExpandRight // startUpRtoL
        // startUpLeft and startUpRight are what the are lmao
        buttonHover
        buttonHoverInverted
    }
    • inputField.css {
        § startUpLtoR 
    }
    • leftBorderPanel.css {
        § leftPanelStartBlink // startUpCircleBlinker
        leftPanelBtoT // startUpBtoT
        leftPanelTtoB // startUpTtoB
        ∂ topPanelOpen
        ∂ bottomPanelOpen
    }
    • linkdinButton.css {
        ∂ startUpSmall
        § icon
    }
    • mobileAlister.css {
        hamburger-menu-phase-one-startup
        hamburger-menu-phase-two-top
        hamburger-menu-phase-two-bottom
    }
    • mouseHud.css {
        startUpLtoRBlinker
    }
    • rightBorderPanel.css {
`       right-border-panel-phase-one-right
        right-border-panel-phase-one-left
    }
    • topPanel.css {
        § startUpRtoL
    }
    • windowHud.css {
        startUp
        startUpTraces
        startUpBorder
        startUpPanels
        blinkerBits
    }
*/




/* -> Global Animations */

/* replacing startUp from button.js */
@keyframes startUpCircleIntoOut {
    0% {
        clip-path: circle(0%);
    }
    100% {
        clip-path: circle(100%);
    }

}

@keyframes startUpLtoR {
    0% {
        clip-path: rect(0 0 100% 0);
    }
    100% {
        clip-path: rect(0 100% 100% 0);
    }
}

@keyframes startUpRtoL {
    0% {
        clip-path: rect(0 100% 100% 100%);
    }
    100% {
        clip-path: rect(0 100% 100% 0%);
    }
}

@keyframes startUpBtoT {
    from {
    clip-path: rect(100% 100% 100% 0%);
  }
  to {
    clip-path: rect(0% 100% 100% 0%);
  }
}

@keyframes startUpTtoB {
    from {
    clip-path: rect(0% 100% 0% 0%);
  }
  to {
    clip-path: rect(0% 100% 100% 0%);
  }
}

@keyframes startUpCircleBlinker {
    0% {
    opacity: 0;
    clip-path: circle(0%);
  }
  20% {
    opacity: 1;
    clip-path: circle(80%);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    clip-path: circle(40%);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    clip-path: circle(100%);
  }
}

@keyframes startUpLtoRBlinker {
    0% {
        clip-path: rect(0 0% 0% 0);
        opacity: 0;
    }
    25% {
        clip-path: rect(0 100% 100% 0);
        opacity: 1;
    }
    50% {
        clip-path: rect(0 0% 0% 0);
        opacity: 0;
    }
    75% {
        clip-path: rect(0 100% 40% 0);
        opacity: 1;
    }
    100% {
        clip-path: rect(0 100% 100% 0);
        opacity: 1;
    }
}

/* List to go through */

@keyframes startUpPanels {
  0% {
    opacity: 0;
    clip-path: rect(0% 0% 0% 0%);
  }
  20% {
    opacity: 1;
    clip-path: rect(0% 100% 100% 80%);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    clip-path: rect(0% 100% 100% 0%);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    clip-path: rect(0% 100% 100% 0%);
  }
}

@keyframes blinkerBits {
  0% {
    opacity: 0;
    clip-path: rect(0% 0% 0% 0%);
  }
  20% {
    opacity: 1;
    clip-path: rect(0% 80% 100% 0%);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    clip-path: rect(0% 30% 100% 0%);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    clip-path: rect(0% 100% 100% 0%);
  }
}